# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List of popular languages for Data Science.
* List of commonly used libraries for Data Science.
* List of popular Data Science Tools.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. scikit learn

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| Rstudio            |
| Jupyterlab |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author
Seunghyun Park